In [1]:
import pandas as pd
import datetime
import numpy as np

# Import and Read CSVs

In [2]:
PI_2015 = ("source_files/Police_Incidents_2015.csv")
PI_2016 = ("source_files/Police_Incidents_2016.csv")
PI_2017 = ("source_files/Police_Incidents_2017.csv")
PI_2018 = ("source_files/Police_Incidents_2018.csv")
PI_2018_2019 = ("source_files/Police_Incidents_Last_2Years.csv")
Neigh_Key = ("target_files/MLS_Neighborhoods.csv")

In [3]:
PI_2015_df = pd.read_csv(PI_2015)
PI_2016_df = pd.read_csv(PI_2016)
PI_2017_df = pd.read_csv(PI_2017)
PI_2018_df = pd.read_csv(PI_2018)
PI_Last2Years_df = pd.read_csv(PI_2018_2019)
Neigh_Key_df = pd.read_csv(Neigh_Key)

# Merge Years of Police Incident Data

In [4]:
PI_pre18 = [PI_2015_df,PI_2016_df,PI_2017_df,PI_2018_df]
PI_pre18_merge = pd.concat(PI_pre18)
PI_pre18_merge.head(1)

,FID,PublicAddress,ControlNbr,CCN,Precinct,ReportedDate,BeginDate,Time,Offense,Description,UCRCode,EnteredDate,GBSID,Lat,Long,X,Y,Neighborhood,LastChanged,LastUpdateDate
0,1,0021XX Broadway AV W,3363209,MP 2014 457317,4.0,2015/01/01 00:04:59,2014/12/31 20:10:00,20:10:00,AUTOTH,Motor Vehicle Theft,8,2015/01/01 00:05:21,15215.0,45.003096,-93.307022,"-10,386,890.1882","5,622,008.9491",JORDAN,2015/01/01 01:33:55,2017/03/03 13:40:06

In [5]:
PI_pre18_final = PI_pre18_merge.drop(columns={"PublicAddress", "ControlNbr",
                                                 "BeginDate", "Time",
                                                 "EnteredDate", "GBSID","X", "Y",
                                                 "LastChanged", "LastUpdateDate",
                                                 "UCRCode","FID"})
PI_pre18_final.head(5)

,CCN,Precinct,ReportedDate,Offense,Description,Lat,Long,Neighborhood
0,MP 2014 457317,4.0,2015/01/01 00:04:59,AUTOTH,Motor Vehicle Theft,45.003096,-93.307022,JORDAN
1,MP 2014 457574,4.0,2015/01/01 00:16:00,AUTOTH,Motor Vehicle Theft,44.991960,-93.297170,NEAR - NORTH
2,MP 2015 999999,1.0,2015/01/01 01:13:52,THEFT,Other Theft,44.982050,-93.273690,DOWNTOWN WEST
3,MP 2014 457244,4.0,2015/01/01 01:24:00,BURGD,Burglary Of Dwelling,45.014000,-93.288020,MCKINLEY
4,MP 2015 000138,3.0,2015/01/01 01:40:00,BURGD,Burglary Of Dwelling,44.902511,-93.258904,DIAMOND LAKE

In [6]:
PI_pre18_final = PI_pre18_final[["CCN","ReportedDate","Offense","Neighborhood","Precinct","Description","Lat","Long"]]
PI_pre18_final.head(5)

,CCN,ReportedDate,Offense,Neighborhood,Precinct,Description,Lat,Long
0,MP 2014 457317,2015/01/01 00:04:59,AUTOTH,JORDAN,4.0,Motor Vehicle Theft,45.003096,-93.307022
1,MP 2014 457574,2015/01/01 00:16:00,AUTOTH,NEAR - NORTH,4.0,Motor Vehicle Theft,44.991960,-93.297170
2,MP 2015 999999,2015/01/01 01:13:52,THEFT,DOWNTOWN WEST,1.0,Other Theft,44.982050,-93.273690
3,MP 2014 457244,2015/01/01 01:24:00,BURGD,MCKINLEY,4.0,Burglary Of Dwelling,45.014000,-93.288020
4,MP 2015 000138,2015/01/01 01:40:00,BURGD,DIAMOND LAKE,3.0,Burglary Of Dwelling,44.902511,-93.258904

In [7]:
PI_Last2Years_df.head(2)

,X,Y,publicaddress,caseNumber,precinct,reportedDate,reportedTime,beginDate,reportedDateTime,beginTime,...,enteredDate,centergbsid,centerLong,centerLat,centerX,centerY,neighborhood,lastchanged,LastUpdateDateETL,OBJECTID
0,-93.313506,44.924447,0027XX 43RD ST W,MP201818191203,5,2018/06/10 00:00:00+00,1237,2018/06/10 00:00:00+00,2018/06/10 17:37:00+00,1237,...,2018/06/11 00:00:00+00,12543.0,-93.313511,44.924450,"-10,387,612",5609635,Linden Hills,2018/06/12 00:00:00+00,2019/07/25 14:36:02+00,1
1,-93.262572,44.958217,0024XX CHICAGO AVE,MP2018184309,3,2018/06/05 00:00:00+00,202,2018/06/05 00:00:00+00,2018/06/05 07:02:00+00,56,...,2018/06/05 00:00:00+00,18932.0,-93.262579,44.958222,"-10,381,942",5614946,Midtown Phillips,2018/06/05 00:00:00+00,2019/07/25 14:36:02+00,2

In [8]:
PI_Last2Years_final = PI_Last2Years_df.drop(columns={"publicaddress","reportedTime", "reportedDateTime",
                                                "beginDate", "beginTime",
                                                 "enteredDate", "X", "Y",
                                                 "lastchanged", "LastUpdateDateETL","enteredDate",
                                                 "centerX","centerY","centergbsid",
                                                 "enteredDate",
                                                 "OBJECTID", "UCRCode", "lastchanged","LastUpdateDateETL"})

PI_Last2Years_final.head(2)

,caseNumber,precinct,reportedDate,offense,description,centerLong,centerLat,neighborhood
0,MP201818191203,5,2018/06/10 00:00:00+00,ARSON,ARSON,-93.313511,44.924450,Linden Hills
1,MP2018184309,3,2018/06/05 00:00:00+00,THEFT,OTHER THEFT,-93.262579,44.958222,Midtown Phillips

In [9]:
PI_Last2Years_final = PI_Last2Years_final[['caseNumber','reportedDate','offense','neighborhood','precinct','description','centerLong','centerLat']]
PI_Last2Years_final.head(2)

,caseNumber,reportedDate,offense,neighborhood,precinct,description,centerLong,centerLat
0,MP201818191203,2018/06/10 00:00:00+00,ARSON,Linden Hills,5,ARSON,-93.313511,44.924450
1,MP2018184309,2018/06/05 00:00:00+00,THEFT,Midtown Phillips,3,OTHER THEFT,-93.262579,44.958222

In [10]:
PI_pre18_final = PI_pre18_final.rename(columns={"CCN":"caseNumber", "ReportedDate":"reportedDate","Offense":"offense","Neighborhood":"neighborhood","Precinct":"precinct","Description":"description"})
PI_Last2Years_final = PI_Last2Years_final.rename(columns={"centerLong":"Long","centerLat":"Lat"})

In [13]:
yearjoins = [PI_pre18_final,PI_Last2Years_final]
PI_Final = pd.concat(yearjoins)
PI_Final.head(5)

,caseNumber,reportedDate,offense,neighborhood,precinct,description,Lat,Long
0,MP 2014 457317,2015/01/01 00:04:59,AUTOTH,JORDAN,4,Motor Vehicle Theft,45.003096,-93.307022
1,MP 2014 457574,2015/01/01 00:16:00,AUTOTH,NEAR - NORTH,4,Motor Vehicle Theft,44.991960,-93.297170
2,MP 2015 999999,2015/01/01 01:13:52,THEFT,DOWNTOWN WEST,1,Other Theft,44.982050,-93.273690
3,MP 2014 457244,2015/01/01 01:24:00,BURGD,MCKINLEY,4,Burglary Of Dwelling,45.014000,-93.288020
4,MP 2015 000138,2015/01/01 01:40:00,BURGD,DIAMOND LAKE,3,Burglary Of Dwelling,44.902511,-93.258904

In [14]:
PI_Final['caseNumber'] = PI_Final['caseNumber'].str.replace(" ","")
PI_Final.head(5)

,caseNumber,reportedDate,offense,neighborhood,precinct,description,Lat,Long
0,MP2014457317,2015/01/01 00:04:59,AUTOTH,JORDAN,4,Motor Vehicle Theft,45.003096,-93.307022
1,MP2014457574,2015/01/01 00:16:00,AUTOTH,NEAR - NORTH,4,Motor Vehicle Theft,44.991960,-93.297170
2,MP2015999999,2015/01/01 01:13:52,THEFT,DOWNTOWN WEST,1,Other Theft,44.982050,-93.273690
3,MP2014457244,2015/01/01 01:24:00,BURGD,MCKINLEY,4,Burglary Of Dwelling,45.014000,-93.288020
4,MP2015000138,2015/01/01 01:40:00,BURGD,DIAMOND LAKE,3,Burglary Of Dwelling,44.902511,-93.258904

In [15]:
incident_id = PI_Final.index + 1

In [16]:
PI_Final['incident_id']= incident_id

In [17]:
PI_Final['neighborhood'].isnull().sum(axis = 0)

532

In [18]:
PI_Final = PI_Final.dropna(subset=['neighborhood'])

In [19]:
#PI_Final['neighborhood'].isnull().sum(axis = 0)

In [20]:
PI_Final.head(5)

,caseNumber,reportedDate,offense,neighborhood,precinct,description,Lat,Long,incident_id
0,MP2014457317,2015/01/01 00:04:59,AUTOTH,JORDAN,4,Motor Vehicle Theft,45.003096,-93.307022,1
1,MP2014457574,2015/01/01 00:16:00,AUTOTH,NEAR - NORTH,4,Motor Vehicle Theft,44.991960,-93.297170,2
2,MP2015999999,2015/01/01 01:13:52,THEFT,DOWNTOWN WEST,1,Other Theft,44.982050,-93.273690,3
3,MP2014457244,2015/01/01 01:24:00,BURGD,MCKINLEY,4,Burglary Of Dwelling,45.014000,-93.288020,4
4,MP2015000138,2015/01/01 01:40:00,BURGD,DIAMOND LAKE,3,Burglary Of Dwelling,44.902511,-93.258904,5

# Change neighborhood names for joining with key table

In [21]:
PI_Final['neighborhood']= PI_Final['neighborhood'].str.upper()

In [22]:
PI_Final = PI_Final.replace(to_replace = "ST. ANTHONY WEST", value ="ST ANTHONY WEST")
PI_Final = PI_Final.replace(to_replace = "ST. ANTHONY EAST", value ="ST ANTHONY EAST")
PI_Final = PI_Final.replace(to_replace = "HUMBOLDT INDUSTRIAL AREA", value ="HUMBOLDT INDUST AREA")
PI_Final = PI_Final.replace(to_replace = "CAMDEN INDUSTRIAL", value ="CAMDEN INDUSTRIAL AREA")        
PI_Final = PI_Final.replace(to_replace = "CARAG", value ="South Uptown")
PI_Final = PI_Final.replace(to_replace = "BRYN - MAWR", value ="Bryn Mawr")
PI_Final = PI_Final.replace(to_replace = "COLUMBIA PARK", value ="Columbia")
PI_Final = PI_Final.replace(to_replace = "MID - CITY INDUSTRIAL", value ="Mid City Industrial Ar")
PI_Final = PI_Final.replace(to_replace = "NICOLLET ISLAND - EAST BANK", value ="Nicollet Is/East Bank")
PI_Final = PI_Final.replace(to_replace = "UNIVERSITY OF MINNESOTA", value ="University")
PI_Final = PI_Final.replace(to_replace = "STEVENS SQUARE - LORING HEIGHTS", value ="Steven's Square - Loring Heights")
PI_Final['neighborhood']= PI_Final['neighborhood'].str.upper()

PI_Final.head(5)

,caseNumber,reportedDate,offense,neighborhood,precinct,description,Lat,Long,incident_id
0,MP2014457317,2015/01/01 00:04:59,AUTOTH,JORDAN,4,Motor Vehicle Theft,45.003096,-93.307022,1
1,MP2014457574,2015/01/01 00:16:00,AUTOTH,NEAR - NORTH,4,Motor Vehicle Theft,44.991960,-93.297170,2
2,MP2015999999,2015/01/01 01:13:52,THEFT,DOWNTOWN WEST,1,Other Theft,44.982050,-93.273690,3
3,MP2014457244,2015/01/01 01:24:00,BURGD,MCKINLEY,4,Burglary Of Dwelling,45.014000,-93.288020,4
4,MP2015000138,2015/01/01 01:40:00,BURGD,DIAMOND LAKE,3,Burglary Of Dwelling,44.902511,-93.258904,5

In [23]:
Neigh_Key_df['name']=Neigh_Key_df['name'].str.upper()
Neigh_Key_df = Neigh_Key_df.rename(columns={'name':"neighborhood"})
Neigh_Key_df.head(5)

   neighborhood_id  neighborhood  community_id
0                1      ARMATAGE            10
1                2  EAST HARRIET            10
2                3        FULTON            10
3                4         KENNY            10
4                5    KING FIELD            10

In [24]:
PI_Final['neighborhood'].isnull().sum(axis = 0)

0

In [25]:
len(PI_Final)

112709

# Join with key table

In [26]:
PI_Final_ID = pd.merge(PI_Final, Neigh_Key_df, on='neighborhood', how= 'left')
PI_Final_ID.head(5)

,caseNumber,reportedDate,offense,neighborhood,precinct,description,Lat,Long,incident_id,neighborhood_id,community_id
0,MP2014457317,2015/01/01 00:04:59,AUTOTH,JORDAN,4,Motor Vehicle Theft,45.003096,-93.307022,1,84,5
1,MP2014457574,2015/01/01 00:16:00,AUTOTH,NEAR - NORTH,4,Motor Vehicle Theft,44.991960,-93.297170,2,85,5
2,MP2015999999,2015/01/01 01:13:52,THEFT,DOWNTOWN WEST,1,Other Theft,44.982050,-93.273690,3,73,3
3,MP2014457244,2015/01/01 01:24:00,BURGD,MCKINLEY,4,Burglary Of Dwelling,45.014000,-93.288020,4,45,2
4,MP2015000138,2015/01/01 01:40:00,BURGD,DIAMOND LAKE,3,Burglary Of Dwelling,44.902511,-93.258904,5,61,6

In [27]:
PI_Final_ID.dtypes

caseNumber          object
reportedDate        object
offense             object
neighborhood        object
precinct            object
description         object
Lat                float64
Long               float64
incident_id          int64
neighborhood_id      int64
community_id         int64
dtype: object

In [28]:
PI_Final_ID['neighborhood_id'] = PI_Final_ID['neighborhood_id'].values.astype(np.int64)
PI_Final_ID['community_id'] = PI_Final_ID['community_id'].values.astype(np.int64)
PI_Final_ID.dtypes

caseNumber          object
reportedDate        object
offense             object
neighborhood        object
precinct            object
description         object
Lat                float64
Long               float64
incident_id          int64
neighborhood_id      int64
community_id         int64
dtype: object

In [29]:
PI_Final_ID.head(5)

,caseNumber,reportedDate,offense,neighborhood,precinct,description,Lat,Long,incident_id,neighborhood_id,community_id
0,MP2014457317,2015/01/01 00:04:59,AUTOTH,JORDAN,4,Motor Vehicle Theft,45.003096,-93.307022,1,84,5
1,MP2014457574,2015/01/01 00:16:00,AUTOTH,NEAR - NORTH,4,Motor Vehicle Theft,44.991960,-93.297170,2,85,5
2,MP2015999999,2015/01/01 01:13:52,THEFT,DOWNTOWN WEST,1,Other Theft,44.982050,-93.273690,3,73,3
3,MP2014457244,2015/01/01 01:24:00,BURGD,MCKINLEY,4,Burglary Of Dwelling,45.014000,-93.288020,4,45,2
4,MP2015000138,2015/01/01 01:40:00,BURGD,DIAMOND LAKE,3,Burglary Of Dwelling,44.902511,-93.258904,5,61,6

In [30]:
#QA Merging
#len(PI_Final_ID['neighborhood_id'])
#PI_Final_ID['neighborhood_id'].count()
#PI_Final_ID['neighborhood_id'].isnull().sum(axis = 0)

In [31]:
#QA Neighborhood Names
#a = PI_Final['neighborhood'].unique()
#a_df = pd.DataFrame(data=a)
#a_df 
#a_df.to_csv("target_files/neighborhoods.csv", index=False, header=True)

In [32]:
PI_Final_ID.head(5)

,caseNumber,reportedDate,offense,neighborhood,precinct,description,Lat,Long,incident_id,neighborhood_id,community_id
0,MP2014457317,2015/01/01 00:04:59,AUTOTH,JORDAN,4,Motor Vehicle Theft,45.003096,-93.307022,1,84,5
1,MP2014457574,2015/01/01 00:16:00,AUTOTH,NEAR - NORTH,4,Motor Vehicle Theft,44.991960,-93.297170,2,85,5
2,MP2015999999,2015/01/01 01:13:52,THEFT,DOWNTOWN WEST,1,Other Theft,44.982050,-93.273690,3,73,3
3,MP2014457244,2015/01/01 01:24:00,BURGD,MCKINLEY,4,Burglary Of Dwelling,45.014000,-93.288020,4,45,2
4,MP2015000138,2015/01/01 01:40:00,BURGD,DIAMOND LAKE,3,Burglary Of Dwelling,44.902511,-93.258904,5,61,6

# Export CSV

In [33]:
PI_Final_ID.to_csv("target_files/Police_Incidents.csv", index=False, header=True)